
<style>
  .btn{
    background-color: blue;
    border: 2px solid skyblue;
    width: 33%;
    padding: 10px 16px;
    border-radius: 7px
  }
</style>
<% unless @user.id == current_user.id%>
  <div id="follow_form">
  <% if current_user.following.include?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>