<% content_for :header do %>
    <%= link_to "Home", root_url %>
<% end %>

<% content_for :styles do %>
    .user{
        display: flex;
        align-items: center;
        gap: 33px;

        border: 2px solid var(--accent-color-2);
        padding: 1rem 1.618rem;
        border-radius: 7px;

        background-color: var(--accent-color);
    }
    .users{
        padding: 0px 21%;
        padding-top: 1.66rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .user>img{
        border: 3px solid var(--secondary-color);
        border-radius: 7px;
    }
    .user>a{
        color: var(--secondary-color);
        font-size: 1.618rem;
    }
    .user>a:hover{
        color: var(--primary-color);
        font-size: 1.618rem;
        text-decoration: underline;
    }
<% end %>

<div class="users">
    <% @users.each do |user| %>
        <%= render 'user', {user: user} %>
    <% end %>
</div>