<h1>Create a New Post:</h1>

<%= form_with model: @post do |f|%>
    <%= f.text_field :title, placeholder: "Title"%>
    <br><br>
    <%= f.text_area :content,size: "32x10", placeholder: "Content"%>
    <br><br>
    <%= f.submit%>
<% end %>
